:root {
    --offwhite: #e8e3dc;
    --seasalt: #ced9df;
    --oceanbay: #50d5d5;
    --deepsea: #6427f4;
    --slateblue: #3827f4;
    --darkgrey: #141414;
    --litegrey: #c4c4c4;
    --pink: #e91672;

    --text-dark: #1d2231;
    --text-grey: #8390a2;
}