{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/dashboard-navbar.html' %}

    <div class="main-content">
        <main>
            <div class="cards">
                <div class="card-single">
                    <div class="card-header">
                        <h3>Client Information</h3>
                    </div>

                    <div class="sub-card">
                        <span>Name: {{client.name}}</span>
                        <span>Email: {{client.email}}</span>
                        <span>Phone: {{client.phone}}</span>

                        <a class="add-new-order" href="{% url 'delete_client' client.id %}"><button>Delete Client</button></a>
                    </div>
                </div>
            </div>

            <div class="clients-wrapper">
                <div class="clients-header">
                    <h3>Client Orders</h3>
                </div>

                <div class="clients-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>Package</th>
                                    <th>Date Created</th>
                                    <th>Status</th>
                                    <th>Edit Order</th>
                                </tr>
                            </thead>

                            {% for order in orders %}
                                <tr>
                                    <td>{{order.package}}</td>
                                    <td>{{order.date_created}}</td>
                                    <td>{{order.status}}</td>
                                    <td><a href="{% url 'update_order' order.id %}"><i class="fas fa-edit"></i></a></td>
                                </tr>
                            {% endfor %}

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}