{% extends 'accounts/main.html' %}

{% block content %}

    <div class="main-content">
        <main>
            <div class="cards">
                <div class="card-single">
                    <div class="card-header">
                        <h3>Client</h3>
                    </div>

                    <div class="sub-card">
                        <a class="update-client"><button> Update Client</button></a>
                        <a class="delete-client"><button> Delete Client</button></a>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-header">
                        <h3>Client Information</h3>
                    </div>

                    <div class="sub-card">
                        <span>Email:</span>
                        <span>Phone:</span>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-header">
                        <h3>Total Orders</h3>
                    </div>

                    <div class="sub-card">
                        <!-- <a class="update-client"><button> Update Client</button></a>
                        <a class="delete-client"><button> Delete Client</button></a> -->
                    </div>
                </div>
            </div>

            <div class="clients-wrapper">
                <div class="clients-header">
                    <h3>Search Clients</h3>

                    <a class="update-client"><button>Search</button></a>
                </div>
            </div>

            <div class="clients-wrapper">
                <div class="clients-header">
                    <h3>Client Orders</h3>
                </div>

                <div class="clients-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>Package</th>
                                    <th>Date Ordered</th>
                                    <th>Status</th>
                                    <th>Update</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}