{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

{% include 'accounts/dashboard-navbar.html' %}

    <div class="main-content">
        <main>
            <p>Are you sure you want to delete "{{item}}"?</p>

            <form action="{% url 'delete_client' item.id %}" method="POST">
                {% csrf_token %}

                <a href="{% url 'dashboard' %}">Cancel</a>

                <input type="submit" name="Confirm">
            </form>
        </main>
    </div>


{% endblock %}