{% load static %}

<div class="footer__container">
    <div class="social__media">
        <div class="social__media--wrapper">
            <div class="footer__logo">
                <a href="/" id="footer__logo">
                    <img src="{% static '/images/logo/2u-mobile-fitness.png' %}" width="160" />
                </a>
            </div>

            <p class="website__rights">© 2U Mobile Training & Fitness, 2021. All rights reserved.</p>
        
            <p class="social__icons">
                <a href="https://www.facebook.com/" class="social__icon--link" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="https://www.instagram.com/" class="social__icon--link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://www.linkedin.com/home" class="social__icon--link" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="/signin.html" class="social__icon--signin" target="_blank">
                    <i class="fas fa-lock"></i>
                </a>
            </p>
        </div>
    </div>
</div>
