<nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo">
            <img src="../../../static/images/logo/2u-mobile-fitness.png" width="200" />
        </a>

        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links">Home</a>
            </li>

            <li class="navbar__item">
                <a href="/about.html" class="navbar__links">About</a>
            </li>

            <li class="navbar__item">
                <a href="/testimonials.html" class="navbar__links">Testimonials</a>
            </li>

            <li class="navbar__button">
                <a href="/signup.html" class="button">Sign Up!</a>
            </li>
        </ul>
    </div>
</nav>