<div class="dashboard-navbar">
    <header>
        <div class="user-wrapper">
            <img src="images/photos/dashboard.jpg" width="40px" height="40px" alt="">
            
            <div>
                <h4>Brooke Barker</h4>
                <small>Administrator</small>
            </div>
        </div>

        <div class="top-icons-wrapper">
            <a href="" class="top-icons"><i class="fas fa-sign-out-alt"></i></a>
            <a href="/" class="top-icons" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </div>
    </header>
</div>