{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/dashboard-navbar.html' %}


    <div class="main-content">
        <main>
            <div class="client-list-wrapper">
                <div class="client-list-header">
                    <h3>Packages</h3>
                </div>

                <div class="client-list-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>Package</th>
                                    <th>Days Per Week</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>

                            {% for i in packages %}
                                <tr>
                                    <td>{{i.name}}</td>
                                    <td>{{i.hourly_rate}}</td>
                                    <td>{{i.description}}</td>
                                </tr>
                            {% endfor %}

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main> 
    </div>

    
{% endblock %}