{% extends 'accounts/main.html' %}

{% block content %}

    <div class="main-content">
        <main>
            <div class="client-list-wrapper">
                <div class="client-list-header">
                    <h3>Packages</h3>

                    <!-- <a class="add-new-client"><button><span><i class="fas fa-plus"></i></span> Add New Client</button></a> -->
                </div>

                <div class="client-list-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>Package</th>
                                    <th>Days Per Week</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main> 
    </div>

{% endblock %}