{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/navbar.html' %}

    <div class="signup">
        <div class="signup-container">
            <div class="signup-container__content">
                <div class="signup-container__content--header">
                    <h1>Create a New Admin User</h1>
                </div>
            </div>

            <div class="signup-container__form">
                <form action="#" method="POST">
                    {% csrf_token %}

                    {{form.username}}
                    {{form.email}}
                    {{form.password1}}
                    {{form.password2}}

                    <button class="signup-container__button" type="submit" value="Create New User">Register</button>
                </form>
            </div>

            {{form.errors}}
        </div>
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='Email';
        form_fields[3].placeholder='Enter Password';
        form_fields[4].placeholder='Re-enter Password';


        for (var field in form_fields){	
        form_fields[field].className += ' form-control'
        }
    </script>



{% include 'accounts/footer.html' %}

{% endblock %}